header, footer, nav, aside, article {
    padding: 15px;
}

header, footer {
    height: 100px;
    background-color: rgb(140, 200, 18);
}

nav, aside, article {
    display: inline-block;
    height: 300px;
}

nav, aside {
    background-color: rgb(245, 244, 207);
    width: 20%;
}

aside {
    /*siai dienai labai retai naudojamas/vengiamas/nenaudojamas*/
    float: right;
}