* {
    text-align: center;
}
header, nav, main, article, footer {
   border: solid black 1px;
}

body {
    margin: 20px;
    padding: 20px;
}

header, footer {
    padding: 20px;
}
nav, main {
    height: 60vh;
    padding-top: 20px;
}

.main {
    display: flex;
}

header {
    background-color: green;
}

nav {
    background-color: red;
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-right: 20px;
}

main {
    background-color: yellow;
    flex: 3;
    margin-top: 20px;
    margin-bottom: 20px;
}

article {
    margin: 10px;
    height: 17vh;
    background-color: violet;
}

footer {
    background-color: purple;
}